.wtAuto{
    width:auto;
}

.fix-width-10 {
    width: 10px;
}

.fix-width-20 {
    width: 20px;
}

.fix-width-25 {
    width: 25px;
}

.fix-width-30 {
    width: 30px;
}

.fix-width-32 {
    width: 32px;
}

.fix-width-40 {
    width: 40px;
}

.fix-width-44 {
    width: 44px;
}

.fix-width-60 {
    width: 60px
}

.fix-width-64 {
    width: 64px;
}

.fix-width-65 {
    width:65px;
}

.fix-width-70 {
    width: 70px;
}

.fix-width-75 {
    width: 75px;
}

.fix-width-80 {
    width: 80px;
}

.fix-width-90 {
    width: 90px;
}

.fix-width-95 {
    width:95px;
}

.fix-width-100 {
    width: 100px;
}

.fix-width-105 {
    width:105px;
}

.fix-width-110 {
    width: 110px;
}

.fix-width-117 {
    width: 117px;
}

.fix-width-300 {
    width: 300px;
}

.fix-width-522 {
    width:522px
}

.fix-width-525 {
    width:525px
}

.fix-width-600 {
    width: 600px;
}

.fix-width-1000 {
    width: 1000px
}

.width5 {
    width: 5%;
}

.width10 {
    width: 10%;
}

.width25{
    width: 25%
}

.width30{
    width: 30%
}

.width40{
    width: 40%
}

.width45 {
    width: 45%;
}

.width60{
    width: 60%
}

.width71 {
    width: 71% !important;
}

.width80 {
    width: 80%;
}

.width90 {
    width: 90%;
}

.widht94 {
    width: 94%;
}

.widht94-Imp {
    width: 94% !important;
}

.width95 {
    width: 95%;
}

.width100 {
    width: 100%;
}

.minWd-0{
    min-width:0 !important;
}

.minWd-159 {
    min-width: 159px;
}

.minWd-200 {
    min-width: 200px;
}

.maxWd-200 {
    max-width: 200px;
}

.htAuto {
    height: auto;
}

.fix-ht-15 {
    height: 15px;
}

.fix-ht-20 {
    height: 20px;
}

.fix-ht-21 {
    height: 21px;
}

.fix-ht-24 {
    height: 24px;
}

.fix-ht-26 {
    height: 26px;
}

.fix-ht-25 {
    height: 25px;
}

.fix-ht-29 {
    height: 29px;
}

.fix-ht-30 {
    height: 30px;
}

.fix-ht-34 {
    height: 34px;
}

.fix-ht-35 {
    height: 35px;
}

.fix-ht-40 {
    height: 40px;
}

.fix-ht-44 {
    height: 44px;
}

.fix-ht-45 {
    height: 45px;
}

.fix-ht-130 {
    height: 130px;
}

.fix-ht-300 {
    height: 300px;
}

.fix-ht-400 {
    height: 400px;
}

.vh-ht100{
    height: 100vh;
}

.minHt-32{
min-height: 32px;
}

.minHt-40 {
    min-height: 40px;
}

.minHt-85 {
    min-height: 85px;
}

.maxHt-100{
max-height: 100px
}

.maxHt-290 {
    max-height: 290px
}
.maxHt-300 {
    max-height: 300px;
}

.maxHt-600 {
max-height:600px;
}



 